@{
    ViewData["Title"] = "Home Page";
}

<table>
    <tbody>
        <tr>
            <td><span>Image 1</span>
            </td>
            <td><span>Image 2</span>
            </td>
            <td><span>Image 3</span>
            </td>
        </tr>
        <tr>
            <td><span>Image 4</span>
            </td>
            <td><span>Image 5</span>
            </td>
            <td><span>Image 6</span>
            </td>
        </tr>
    </tbody>
</table>
