@{
    ViewData["Title"] = "Home Page";
}

<style>
    img{
        width: 150px;
        height: 150px;
    }
</style>

<table>
    <tbody>
        <tr>
            <td>
                <img src="~/Images/Download1.jpeg" alt="Image 1" />
            </td>
            <td>
                <img src="~/Images/Download2.jpeg" alt="Image 2" />
            </td>
            <td>
                <img src="~/Images/Download3.jpeg" alt="Image 3" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Download4.jpeg" alt="Image 4" />
            </td>
            <td>
                <img src="~/Images/Download5.jpeg" alt="Image 5" />
            </td>
            <td>
                <iframe width="150px" height="150px" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>"
            </td>
        </tr>
    </tbody>
</table>
