@{
    ViewData["Title"] = "Home Page";
}

<style>
    img{
        width: 150px;
        height: 150px;
    }
    .MainImage1{
        width:15px;
        height: 15px;
    }
</style>

<table>
    <tbody>
        <tr>
            <td rowspan="3">
                <img alt="Profile Image" src="~/Images/download6.jpeg" />
            </td>
            <td>
                <span>Rafael Morales</span>
                <button>Follow</button>
            </td>
        <tr>
            <td>
                <span>6 Posts</span>
                <span>No Followers</span>
                <span>0 Following</span>
            </td>
        </tr>
        <tr>
            <td>
                <span>This is an example description</span>
               
            </td>
        </tr>
    </tbody>
</table>
<br />
<a href="#">POSTS</a>
<a href="#">REELS</a>
<a href="#">IGTV</a>
<a href="#">TAGGED</a>
<br />
<table>
    <tbody>
        <tr>
            <td>
                <img src="~/Images/Download1.jpeg" alt="Image 1" />
            </td>
            <td>
                <img src="~/Images/Download2.jpeg" alt="Image 2" />
            </td>
            <td>
                <img src="~/Images/Download3.jpeg" alt="Image 3" />
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Images/Download4.jpeg" alt="Image 4" />
            </td>
            <td>
                <img src="~/Images/Download5.jpeg" alt="Image 5" />
            </td>
            <td>
                <iframe width="150px" height="150px" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>"
            </td>
        </tr>
    </tbody>
</table>
