<form>
    <fieldset>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>User Name:</label>
                    </td>
                    <td>
                        <input id="User Name"
                               type="text"
                               size="20" maxlength="15"
                               placeholder="Type your User name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password:</label>
                    </td>
                    <td>
                        <input id="Password"
                               type="password"
                               size="20" maxlength="15"
                               placeholder="Type your password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button>Register</button>
                        <input type="reset" />
                    </td>
                </tr>
            </tbody>
        </table>
        <legend>User Information </legend>
    </fieldset>
</form>