<header>
    <head>
        <Label>User Personal Information</Label>
    </head>
</header>
<form>
    <fieldset>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>First Name:</label>
                        <input sumit="#" placeholder="Add your First Name" />
                        <label>Last Name:</label>
                        <input sumit="#" placeholder="Add your Last Name" />
                        <br />
                        <label>Gender:</label>
                        <input type="radio" id="Male" name="Male" />
                        <label for="Male">Male</label>
                        <input type="radio" id="Female" name="Female" />
                        <label for="Female">Female</label>
                        <input type="radio" id="PreferNotToSpecify" name="Prefer Not To Specify" />
                        <label for="PreferNotToSpecify">Prefer Not To Specify</label>
                        <br />
                        <label>Email address:</label>
                        <input sumit="#" placeholder="Type your e-mail address" />
                        <br />
                        <label>Country of Residence:</label>
                        <select>
                            <option>
                                USA
                            </option>
                        </select>
                        <br />
                        <button submit="#">Update User Information</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>