<header>
    <head>
        <Label>User Personal Information</Label>
    </head>
</header>
<form>
    <fieldset>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>First Name:</label>
                        <input sumit="#" placeholder="Add your First Name" />
                        <label>Last Name:</label>
                        <input sumit="#" placeholder="Add your Last Name" />
                        <br />

                        <label>Gender:</label>
                        <input type="radio" id="MaleGender" name="gender" />
                        <label for="MaleGender">Male</label>

                        <input type="radio" id="FemaleGender" name="gender" />
                        <label for="FemaleGender">Female</label>

                        <input type="radio" id="PreferNotToSpecify" name="gender" />
                        <label for="PreferNotToSpecify">Prefer Not To Specify</label>

                        <br />

                        <label>Select your favorite color:</label>
                        <input type="color" id="FavoriteColor"/>
                       
                        <label for="Birthday">Birthday</label>
                        <input type="date" id="Birthday"/>

                        <br />

                        <label>Email address:</label>
                        <input sumit="#" placeholder="Type your e-mail address" />
                        <br />

                        <label>Country of Residence:</label>
                        <select>
                            <option>
                                USA
                            </option>
                        </select>
                        <br />
                        <tr>
                            <td colspan="2">
                                <label>Select profile image </label>
                                <input type="file" id="ChooseFiles"
                            </td>
                            <br />

                        <button submit="#">Update User Information</button>
                    </tr>
                </tr>
            </tbody>
        </table>
    </fieldset>
</form>