<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-security-policy" content="img-src 'self'" content="media-src 'self'" />
    <title>@ViewData["Title"] - MyGram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <span id="gram">My Gram</span>
                <input type="text" placeholder="Search" id="Search" />
                <button class="button">Log In</button>
                <a href="~/home/Register"><button class="button">Sign Up</button></a>
                <a class="MainImage1" href="~/home/User_Profile"> <img class="MainImage1" src="~/Images/yellow.png" style{ width="15px" height="15px" /> </a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="footer2">
        <footer id="footer" class="border-top footer text-muted">
            <div class="container">
                <div class="footer a">
                    <a href="#">About</a>
                    <a href="#">Blog</a>
                    <a href="#">Jobs</a>
                    <a href="#">Help</a>
                    <a href="#">English</a>
                    <a href="#">2021</a>
                    <a href="#">MyGram</a>
                </div>
            </div>
        </footer>
    </div>
    <div class="blackline">
        <table>
            <tbody>
                <tr>
                    <td>
                        <span>Log In to My Gram</span>
                    </td>
                    <td>
                        <a href="~/home/Register"><button class="button1">Log In</button></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Log in to see photos and videos from friends and discover other accounts you will love.</span>
                    </td>
                    <td class="signup">
                        <a href="~/home/User_Profile" class="signup1">Sign Up</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>